.dashboard-container {
  /* max-width: 1200px; */
  margin: 0 auto;
}

.welcome-section {
  margin-bottom: 32px;
}

.welcome-section h1 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 8px;
  color: var(--mat-sys-on-surface);
}

.welcome-section p {
  color: var(--mat-sys-on-surface-variant);
  font-size: 16px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 24px;
}

.dashboard-card {
  transition: transform 0.2s, box-shadow 0.2s;
  height: 100%;

}

:host-context(.dark) .dashboard-card {
  /* background: #141a18; */
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.35);
  /* #030E09 */
  background: #030E09;
  border: 1px solid #212121;
}

.dashboard-card:hover {
  transform: translateY(-4px);
  box-shadow: var(--mat-sys-level2-box-shadow);
}

.card-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  /* #2E3C25 */
  background-color: #2E3C25;
  color: #fff;
  border-radius: 50%;
}

.card-avatar mat-icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
}

mat-card-actions {
  padding: 16px;
}

:host-context([dir="rtl"]) .rtl-mirror {
  transform: scaleX(-1);
}