.dashboard-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
   background-color: #f5f5f5;
}
:host-context(.dark) .dashboard-layout {
  background-color: #141a18;
}
.spacer {
  flex: 1 1 auto;
}

.content {
  flex: 1;
  padding: 24px;
  /* background-color: var(--mat-sys-background); */
  overflow-y: auto;
}

.mat-toolbar {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 16px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
